.statistics-section {
  min-height: 0vh;
  height: 100vh;
  padding: 225px 0;
  /* background-color: #0a0a0a; */
  /* background-color: red; */
}

.statistics-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 60px;
  display: flex;
  gap: 60px;
}

.statistics-left {
  flex: 1;
  /* background-color: #1a1a2e; */
  min-height: 200px;
  border-radius: 12px;
}

.statistics-right {
  color: #0a0a0a;
  flex: 1;
  min-height: 200px;
  border-radius: 12px;
  padding: 40px;
}

.statistics-counters {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.counter-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter-number {
  font-size: 48px;
  font-weight: 700;
  color: #fff;
}

@media (max-width: 768px) {
  .statistics-section {
    /* padding-: 80px; */
  }

  .statistics-container {
    flex-direction: column;
    padding: 0 20px;
    gap: 40px;
  }

  .statistics-right h1 {
    font-size: 72px !important;
    line-height: 80px !important;
  }

  .statistics-right p {
    font-size: 16px !important;
    line-height: 28px !important;
  }
}
