.statistics-section {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
}

.statistics-container {
  max-width: 1400px;
  margin: 0 ;
  padding: 0 60px;
  display: flex;
  gap: 60px;
}

.statistics-left {
  flex: 1;
  /* background-color: #1a1a2e; */
  min-height: 200px;
  border-radius: 12px;
}

.statistics-right {
  color: #0a0a0a;
  flex: 1;
  min-height: 200px;
  border-radius: 12px;
  padding: 40px;
}

.statistics-counters {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.counter-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter-number {
  font-size: 48px;
  font-weight: 700;
  color: #fff;
}

@media (max-width: 768px) {
  .statistics-section {
    /* padding-: 80px; */
  }

  .statistics-container {
    background-color: red;
    padding-top: 20px;
    flex-direction: column;
    padding: 0 20px;
    gap: 0;
  }

  .statistics-right h1 {
    font-size: 72px !important;
    line-height: 80px !important;
  }

  .statistics-right p {
    font-size: 16px !important;
    line-height: 28px !important;
  }
}



@media (min-width: 1024px) {
  .statistics-container {
    width: 100%;
    max-width: 1200px; /* optional: taaki content bohot wide na ho */
    margin: 0 auto;    /* center horizontally */
    
    display: flex;
    justify-content: center; /* horizontal center */
    align-items: center;     /* vertical center */
    
    /* optional padding */
    padding: 20px 0;
  }
}